{% extends 'base.html.twig' %}

{% block title %}Disposal index{% endblock %}

{% block body %}
    <h1>Disposal index</h1>

    <div class="navigation text-center">
      {{ knp_pagination_render(disposals) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th> {{ 'actions' | trans }} </th>
            </tr>
        </thead>
        <tbody>
        {% for disposal in disposals %}
            <tr>
                <td>{{ disposal.id }}</td>
                <td>{{ disposal.address }}</td>
                <td>{{ disposal.status }}</td>
                <td>{{ disposal.createdAt ? disposal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ disposal.updatedAt ? disposal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('disposal_show', {'id': disposal.id}) }}">{{ 'button.show' | trans }}</a>
                    <a href="{{ path('disposal_edit', {'id': disposal.id}) }}">{{ 'button.edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'no_records_found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
      {{ knp_pagination_render(disposals) }}
    </div>

    <a href="{{ path('disposal_new') }}">{{'button.create_new' | trans }}</a>
{% endblock %}
