{% extends 'base.html.twig' %}

{% block title %}{{ 'title.disposal_index' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'header.disposal_index' | trans }}</h1>

    <div class="navigation text-center">
      {{ knp_pagination_render(disposals) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'id' | trans }}</th>
                <th>{{ 'address' | trans }}</th>
                <th>{{ 'status' | trans }}</th>
                <th>{{ 'created_at' | trans }}</th>
                <th>{{ 'updated_at' | trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th> {{ 'actions' | trans }} </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for disposal in disposals %}
            <tr>
                <td>{{ disposal.id }}</td>
                <td>{{ disposal.address }}</td>
                <td>{{ disposal.status }}</td>
                <td>{{ disposal.createdAt ? disposal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ disposal.updatedAt ? disposal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                  {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('disposal_show', {'id': disposal.id}) }}">{{ 'button.show' | trans }}</a>
                    <a href="{{ path('disposal_edit', {'id': disposal.id}) }}">{{ 'button.edit' | trans }}</a>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'no_records_found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
      {{ knp_pagination_render(disposals) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('disposal_new') }}">{{'button.create_new' | trans }}</a>
    {% endif %}
{% endblock %}
