{% extends 'base.html.twig' %}

{% block title %}{{ 'title.new_disposal' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'header.new_disposal' | trans }}</h1>

    {{ include('disposal/_form.html.twig') }}

    <a href="{{ path('disposal_index') }}">{{ 'button.back_to_list' | trans }}</a>
{% endblock %}
