{% extends 'base.html.twig' %}

{% block title %}{{'header.disposal'}}{% endblock %}

{% block body %}
  <div class="dono">
    <h1>{{'header.disposal' | trans}}</h1>
    <div>
    {{'header.your_disposal_status_is'|trans}} {{disposal.status}}
    {{'header.please_pay_to_account_number' | trans}} {{shop.bankAccount}}
    </div>
    {{'header.with_header'|trans}} {{disposal.id ~'/'~ disposal.createdAt|date('YmdHis')}}
  </div>
    <a class="btn btn-success" href="{{ path('product_index') }}">{{'button.back_to_shop'|trans}}</a>
{% endblock %}
