{% extends 'base.html.twig' %}

{% block title %}{{ 'title.edit_product' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'header.edit_product' | trans }}</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_index') }}">{{ 'button.back_to_list' | trans }}</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
