{% extends 'base.html.twig' %}

{% block title %}{{ 'title.new_product' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.new_product' | trans }}</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">{{ 'button.back_to_list' | trans }}</a>
{% endblock %}
