{% extends 'base.html.twig' %}

{% block title %}{{'title.product' | trans}}{% endblock %}

{% block body %}
    <div class="title">
      <h1>{{product.name}}</h1>
      <span class="badge badge__new">{{ product.isNew ? 'product.new' : '' | trans }}</span>
      <span class="badge badge__recommended">{{ product.isRecommended ? 'product.recommended' : '' | trans }}</span>
    <div>

    <div class="product">
      <div class="product__img">
        <img class="card-img-top" src="{{ asset( 'uploads/imgs/' ~ product.img) }}" alt="">
      </div>
      <div class="product__categry">
        <td>{{ product.category ? product.category.name : '' }}</td>
      </div>
      <div class="product__price">
        {% include 'product/_product_price.html.twig' %}
      </div>
      <div class="product__description">
        {{product.description}}
      </div>
    </div>

    <a href="{{ path('product_index') }}">
    <span class="btn btn-success m-2">{{'button.back_to_list' | trans}}</span>
    </a>

    <a href="{{ path('basket_add', {'id' : product.id}) }}">
      <span class="btn btn-success m-2">{{"button.add_to_basket" | trans}}</span>
    </a>


    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('product_edit', {'id': product.id}) }}">{{'button.edit' | trans}}</a>
      {{ include('product/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
