{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <h1>Shop index</h1>
    <div class="navigation text-center">
      {{ knp_pagination_render(shops) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>{{ shop.name }}</td>
                <td>{{ shop.Address }}</td>
                <td>{{ shop.phone }}</td>
                <td>{{ shop.email }}</td>
                <td>
                    <a href="{{ path('shop_show', {'id': shop.id}) }}">show</a>
                    <a href="{{ path('shop_edit', {'id': shop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
      {{ knp_pagination_render(shops) }}
    </div>
    <a href="{{ path('shop_new') }}">Create new</a>
{% endblock %}
